body {
    margin: 0;
    padding:0;
    /* background:black; */
}

#mainContainer {
    display:flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.loadingBackground {
    transition: background-image 0.2s ease-in-out;
    background-image: url("../star_wars_quotes/images/loading_quote.jpg");
}

.lightSideBackground {
    transition: background-image 0.2s ease-in-out;
    background-image: url("../star_wars_quotes/images/light_side.jpg"); 
    
}

.darkSideBackground{ 
    transition: background-image 0.2s ease-in-out;
    background-image: url("../star_wars_quotes/images/dark_side.jpg");
}

.neutralBackground{
    transition: background-image 0.2s ease-in-out;
    background-image: url("../star_wars_quotes/images/neutral.jpg");
    background-position:bottom;
}

.quoteContainer {
    width:auto;
    max-width:1000px;   
    border-radius: 10px;
    padding:20px;
    font-size: 2.7em;
    background-color:black;
    display:flex;
    flex-direction:column;
}

.btnDiv {
    display:flex;
    align-items:center;
    justify-content: center;
}

.button {
    font-size:20px;
    padding:15px;
    margin-left:20px;
    background-color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.lightQuoteContainer {
    color:cornflowerblue;
    border:cornflowerblue;
    box-shadow: 4px 0px 8px 0px rgba(167, 224, 220, 0.4), 6px 0px 20px 0px rgba(167, 224, 220, 0.4);
}

.lightBtn button{
    color:cornflowerblue;
}

.darkQuoteContainer {
    border:darkred;
    color:rgb(212, 0, 0);
    box-shadow: 4px 0px 8px 0px rgba(199, 63, 63, 0.377), 6px 0px 20px 0px rgba(199, 63, 63, 0.377);
}

.darkBtn button{
    color:rgb(212, 0, 0);
}


.neutralQuoteContainer {
    border:rgb(243, 243, 242);
    color:rgb(212, 191, 0);
    box-shadow: 4px 0px 8px 0px rgba(202, 202, 202, 0.377), 6px 0px 20px 0px rgba(199, 199, 199, 0.377);
}

.neutralBtn button{
    color:rgb(212, 191, 0);
}



